.logo1
{
	
	display:inline-block;
	width:max-width;
	animation-name:infinite-spinning2;
	animation-timing-function: ease-out;
	animation-duration: 4s;
}

.logo3	
{	
	
	display:inline-block;
	width:max-width;
	animation-name:infinite-spinning3;
	animation-timing-function: ease-out;
	animation-duration: 4s;
}





#v1
{
	animation-name:anam;
	animation-timing-function: ease-out;
	animation-duration: 4s;
}
#v2
{
	animation-name:anam;
	animation-timing-function: ease-out;
	animation-duration: 4s;
}#v3
{
	animation-name:anam;
	animation-timing-function: ease-out;
	animation-duration: 4s;
}#e1
{
	animation-name:anam;
	animation-timing-function: ease-out;
	animation-duration: 4s;
}#e2
{
	animation-name:anam;
	animation-timing-function: ease-out;
	animation-duration: 4s;
}#e3
{
	animation-name:anam;
	animation-timing-function: ease-out;
	animation-duration: 4s;
}#e4
{
	animation-name:anam;
	animation-timing-function: ease-out;
	animation-duration: 4s;
}#e5
{
	animation-name:anam;
	animation-timing-function: ease-out;
	animation-duration: 4s;
}#r1
{
	animation-name:anam;
	animation-timing-function: ease-out;
	animation-duration: 4s;
}#r2
{
	animation-name:anam;
	animation-timing-function: ease-out;
	animation-duration: 4s;
}#r3
{
	animation-name:anam;
	animation-timing-function: ease-out;
	animation-duration: 4s;
}#r4
{
	animation-name:anam;
	animation-timing-function: ease-out;
	animation-duration: 4s;
}#r5
{
	animation-name:anam;
	animation-timing-function: ease-out;
	animation-duration: 4s;
}#r6
{
	animation-name:anam;
	animation-timing-function: ease-out;
	animation-duration: 4s;
}
#r7
{
	animation-name:anam;
	animation-timing-function: ease-out;
	animation-duration: 4s;
}
#s5
{
	animation-name:anam;
	animation-timing-function: ease-out;
	animation-duration: 4s;
}
#s6
{
	animation-name:anam;
	animation-timing-function: ease-out;
	animation-duration: 4s;
}
#s2
{
	animation-name:anam;
	animation-timing-function: ease-out;
	animation-duration: 4s;
}#s3
{
	animation-name:anam;
	animation-timing-function: ease-out;
	animation-duration: 4s;
}#i1
{
	animation-name:anam;
	animation-timing-function: ease-out;
	animation-duration: 4s;
}#i2
{
	animation-name:anam;
	animation-timing-function: ease-out;
	animation-duration: 4s;
}#i3
{
	animation-name:anam;
	animation-timing-function: ease-out;
	animation-duration: 4s;
}
#n1
{
	animation-name:anam;
	animation-timing-function: ease-out;
	animation-duration: 4s;
}#n2
{
	animation-name:anam;
	animation-timing-function: ease-out;
	animation-duration: 4s;
}#n3
{
	animation-name:anam;
	animation-timing-function: ease-out;
	animation-duration: 4s;
}
#n4
{
	animation-name:anam;
	animation-timing-function: ease-out;
	animation-duration: 4s;
}
#text_a
{
	animation-name:anam;
	animation-timing-function: ease-out;
	animation-duration: 4s;
	fill:none;
}
#text_b
{
	animation-name:anam;
	animation-timing-function: ease-out;
	animation-duration: 8s;
	fill:none;
}#text_c
{
	animation-name:anam;
	animation-timing-function: ease-out;
	animation-duration: 8s;
	fill:none;
}


@keyframes anam
{
	from 
	{
		stroke-opacity:0;
	}
	50%
	{
			stroke-opacity:0;
	}
	100%
	{
		stroke-opacity:1;
	}
}
