#contact
{
  margin-top: 0px;
}
.contact-section {
	background: #201037;
	color: white;
  }
  
  .link {
	color: white;
	text-decoration: none;
  }
  .social-icon a {
	margin: 0 10px;
  }
  .social-icon .fa {
	font-size: 30px;
	line-height: 60px;
	color: white;
  }
  
  .social-icon #facebook:hover {
	color: #3b5999;
  }
  .social-icon #instagram:hover {
	color: #e4405f;
  }
  .social-icon #twitter:hover {
	color: #55acee;
  }
  .social-icon #linkedin:hover {
	color: #0077b5;
  }
  .link:hover {
	color: #ff003f;
  }