	.contact
	{
		width:75%;
		color:#222222;
		font-weight:900;
		
	}
	.out
	{
		text-align:center;
		vertical-align:center;
		justify-content:center;
		margin-top:1%;
	}
	.out:first-child
	{
		margin-top:2%;
	}
	.out:last-child
	{
		margin-top:2%;
	}
	.sm a
	{
		text-decoration: none;
	}
	.contact ul
	{
		list-style:none;
		display:block;
		margin-top:15px;
		text-align:center;
	}
	.contact ul li
	{
		background:#171515;
		display:inline-block;
		color:#ffffff;
		font-size:25px;
		height:40px;
		width:40px;
		line-height:40px;
		border-radius:50%;
		text-align:center;
		cursor:pointer;
		margin:5px;
		
	}
	