body
{
	background-image: linear-gradient(to bottom, rgb(32, 16, 55), 	rgb(148, 57, 172));
}
.faq
{
	height:auto;
	border:solid 2px;
	background:rgb(32, 16, 55);
	
}

.ques
{
	
	color:#d40000;
	font-weight:750;
	margin:1%;
	width:98%;
	height:max-heigt;
	text-align:center;
	vertical-align:center;
	border:2px solid black;
	background:#222222;
}
.ques:hover
{
	color:white;
	background:;
}

.answer
{
	
	width:max-width;
	margin-top:1%;
	padding:1%;
	padding-left:2%;
	color:white;
	text-align:justify;
	font-family:arial;
	font-weight:500;
}
.sign
{
	float:right;
	margin-left:auto;
	vertical-align:center;
}
header
{
	
}
h2
{
	text-align:center;
	color:#aaaaaa;
	font-weight:900;
	font-family:Brush Script Std, cursive;
	
}

