body
{
	background-image: linear-gradient(to bottom, rgb(32, 16, 55), 	rgb(148, 57, 172));
	background-color:rgb(148, 57, 172);
	
	margin:0;
	
}
.hd
{
	background-image: linear-gradient(to right, rgb(32, 16, 55), 	rgb(148, 57, 172));
	background-image:url("../pictures/background.jpg");
}
.home
{
	background-position:fit;
	background-size: cover;
	text-align:center;
	color:white;
	background-image:url("../pictures/background.jpg");
	min-height: 86vh;
	
	
}
.my-navbar {
  background-color: #201037;
  min-height: 10vh;
}
.nav-link
{
	margin-left:20px;
	font-size:120%;
	color:white;
}
.navbar-brand/*logo*/
{

}
#sponsor
{
	padding-top:3%
}
#logo
{
	margin-bottom:4%;
}
.dashboard {
  justify-content: center;
  margin-top: 3.6rem;
  font-size: 1.2rem;
  margin-bottom:3%;
}
#dashboard-button {
  background: linear-gradient(90deg, #6f0f87, #c71642);
  color: white;
  border: none;
  border-radius: 1.2rem;
  padding: 0.8rem 1.8rem;
  cursor: pointer;
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
}
#now_online
{
	font-family: "Montserrat", sans-serif;
	color:white;
	font-weight:900;
	animation-name:blink;
	animation-timing-function:linear;
	animation-duration: 2s;
	animation-iteration-count:infinite;
}
@keyframes blink
{
	form
	{
		color:white;
	}
	to
	{
		color:green;
	}	
}
#timer
{
	display:inline-block;
	margin:auto;
	text-align:center;
	width:max-width;
}
@media screen and (min-width: 600px) {
	#now_online{
	font-size:125%
	}
#sponsor
{
	padding-top:5%;
}
}
.vb19,
.timeline-btn {
  background: linear-gradient(90deg, #6f0f87, #c71642);
  color: white;
  border: none;
  border-radius: 1.2rem;
  padding: 0.8rem 1.8rem;
  cursor: pointer;
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
}
.vb19 {
  border-radius: 1.6rem;
  z-index: 2;
}
.timeline-btn {
  font-size: 1.2rem;
  margin: 1.8rem;
  border-radius: 2rem;
}

.register {
  border: 2px solid #c71642;
  background: #c71642;
  border-radius: 2rem;
}

/* About Section */

.about-section {
  padding: 10vh 0;
}

.about-text h1 {
  text-align: center;
  padding: 1.2rem 1.2rem 0 1.2rem;
  letter-spacing: 0.3rem;
}
.about-text p {
  padding: 1rem;
}

/* Schedule Section */

/* .schedule-section {
  background: linear-gradient(#ffffff, #6f0f87);
} */

.sch-box {
  padding: 1.6rem;
  background-color: #fff;
  margin: 2rem;
  border-radius: 1rem;
  box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.25);
  /* height: 20rem; */
}
.sch-box p {
  font-size: 1rem;
}
.date {
  color: #6f0f87;
  margin-bottom: 1rem;
}

.event {
  font-size: 0.8rem;
  font-weight: 700;
  color: #c71642;
}
.schedule-heading {
  position: relative;
}
.sch-big {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3.2rem;
  font-weight: bolder;
  letter-spacing: 0.5rem;
  color: #c55ede;
  z-index: -1;
}
/* Media Queries */

@media (max-width: 992px) {
  .about-section .row .col-md-10 .about-image img {
    width: 100%;
  }
  .about-section .row .col-md-10 .about-text {
    position: initial;
    width: initial;
    height: initial;
  }
  .about-section .row .col-md-10:last-child {
    position: relative;
  }
  .about-big {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.9;
    padding: 1.6rem 1.2rem 0 1.2rem;
    font-size: 2.8rem;
    font-weight: bolder;
    letter-spacing: 0.3rem;
    color: #c55ede;
    z-index: -1;
  }
}

/* 
  X-Small devices (portrait phones, less than 576px)
  No media query for `xs` since this is the default in Bootstrap
  
  Small devices (landscape phones, 576px and up) */
/* @media only screen and (max-width: 767px) {
  .sch-box {
    height: auto;
  }
} */

@media (min-width: 576px) {
  /* .about-section .row .col-md-6 .about-text {
    padding: 1rem;
  } */
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* About Section */
  .about-section .row .col-md-10 .about-image img {
    width: 90%;
    border-radius: 0.2rem;
  }
  .about-section .row .col-md-10:last-child {
    position: relative;
  }
  .about-section .row .col-md-10 .about-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -20%;
    background: white;
    border-radius: 0.2rem;
    text-align: left;
    padding: 2rem 2rem 2rem 5rem;
    box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.25);
    z-index: 1;
  }
  .about-big {
    position: absolute;
    top: 6%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.9;
    padding: 2rem 2rem 2rem 5rem;
    font-size: 3.6rem;
    font-weight: bolder;
    letter-spacing: 0.3rem;
    color: #c55ede;
    z-index: -1;
  }
  .vb19 {
    position: absolute;
    bottom: 0;
    transform: translateX(-70%);
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}


