* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

.my-navbar {
  background-color: #201037;
  min-height: 10vh;
}

.navbar-dark .navbar-toggler {
  border: none;
  color: transparent;
}

.hero-section {
  background: url(../images/background.svg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  color: white;
  background-attachment: fixed;
}

#version-beta {
  font-weight: 500;
  letter-spacing: 0.3rem;
  background: linear-gradient(#ff003f, #201037);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
}

/* Dashboard button */

.dashboard {
  justify-content: center;
  margin-top: 3.6rem;
}
.dashboard-button,
.vb19,
.timeline-btn {
  background: linear-gradient(90deg, #6f0f87, #c71642);
  color: white;
  border: none;
  border-radius: 1.2rem;
  padding: 0.8rem 1.8rem;
  cursor: pointer;
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
}
.vb19 {
  border-radius: 1.6rem;
  z-index: 2;
}
.timeline-btn {
  font-size: 1.2rem;
  margin: 1.8rem;
  border-radius: 2rem;
}

.register {
  border: 2px solid #c71642;
  background: #c71642;
  border-radius: 2rem;
}

/* About Section */

.about-section {
  padding: 10vh 0;
}

.about-text h1 {
  text-align: center;
  padding: 1.2rem 1.2rem 1.2rem 1.2rem;
  letter-spacing: 0.3rem;
}
.about-text p {
  padding: 1rem;
}

/* Schedule Section */

.sch-box {
  padding: 1.6rem;
  background-color: #fff;
  margin: 2rem;
  border-radius: 1rem;
  box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.25);
  /* height: 20rem; */
}
.sch-box p {
  font-size: 1rem;
}
.date {
  color: #6f0f87;
  margin-bottom: 1rem;
}

.event {
  font-size: 0.8rem;
  font-weight: 700;
  color: #c71642;
}
.schedule-heading,
.gallery-heading,
.faq-heading {
  position: relative;
}
.sch-big,
.gallery-big,
.faq-big {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bolder;
  letter-spacing: 0.5rem;
  color: #c55ede;
  z-index: -1;
}

/* Gallery Section */

.img {
  padding: 0 2px 2px 0;
}

/* FAQ Section */

.card,
.card-header {
  background-color: transparent;
  border: none;
  padding: 0;
  margin-bottom: 1rem;
}

.card {
  box-shadow: 4px 4px 10px rgba(110, 130, 208, 0.25);
}

.btn-link {
  width: 100%;
  height: 3.8rem;
  color: #000000;
  font-weight: bold;
  text-align: left;
  text-decoration: none;
}

.card-body {
  /* background: #e8eeff; */
  background: #dba3e9;
}

.btn-link::after {
  content: "";
  width: 2.6rem;
  font-size: 1.6rem;
  text-align: center;
  vertical-align: middle;
  border-radius: 0.3rem;
  position: absolute;
  right: 3%;
  top: 11px;
  transition: all 0.5s ease;
}

.btn-link.collapsed::after {
  content: "\002B";
}

.btn-link.expand::after {
  content: "\002B";
  transform: rotateZ(45deg);
}
.btn-link::before {
  content: "";
  height: 1.6rem;
  width: 1.6rem;
  position: absolute;
  left: 5%;
  top: 46px;
  background: #ffffff;
  z-index: 1;
  transform: rotate(45deg);
}

/* CONTACT SECTION */

.contactus-section {
  background: #dba3e9;
  /* background: linear-gradient(#ffffff, #201037); */
  color: black;
}

.link {
  color: black;
  text-decoration: none;
}
.social-icon a {
  margin: 0 10px;
}
.social-icon .fa {
  font-size: 30px;
  line-height: 60px;
  color: black;
}

.social-icon #facebook:hover {
  color: #3b5999;
}
.social-icon #instagram:hover {
  color: #e4405f;
}
.social-icon #twitter:hover {
  color: #55acee;
}
.social-icon #linkedin:hover {
  color: #0077b5;
}
.link:hover {
  color: black;
}

/* Media Queries */

@media (max-width: 992px) {
  .about-section .row .col-md-10 .about-image img {
    width: 100%;
  }
  .about-section .row .col-md-10 .about-text {
    position: initial;
    width: initial;
    height: initial;
  }
  .about-section .row .col-md-10:last-child {
    position: relative;
  }
  .about-big {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.9;
    padding: 1.6rem 1.2rem 0 1.2rem;
    font-weight: bolder;
    letter-spacing: 0.3rem;
    color: #c55ede;
    z-index: -1;
  }
}

/* 
  X-Small devices (portrait phones, less than 576px)
  No media query for `xs` since this is the default in Bootstrap
  
  Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  .last-row {
    display: none;
  }
}
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  /* About Section */
  .about-section .row .col-md-10 .about-image img {
    width: 90%;
    border-radius: 0.2rem;
  }
  .about-section .row .col-md-10:last-child {
    position: relative;
  }
  .about-section .row .col-md-10 .about-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -20%;
    background: white;
    border-radius: 0.2rem;
    text-align: left;
    padding: 2rem 2rem 2rem 5rem;
    box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.25);
    z-index: 1;
  }
  .about-big {
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.9;
    padding: 2rem 2rem 2rem 5rem;
    font-weight: bolder;
    letter-spacing: 0.3rem;
    color: #c55ede;
    z-index: -1;
  }
  .vb19 {
    position: absolute;
    bottom: 0;
    transform: translateX(-70%);
  }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
