 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.my-navbar {
  background-color: #201037;
  min-height: 10vh;
}

.navbar-dark .navbar-toggler {
  border: none;
  color: transparent;
}

.hero-section {
  background: url("p1.jpg.jpg");
  background-size: cover;
  background-position: center;
  min-height: 90vh;
  color: white;
}

#version-beta {
  font-weight: 500;
  letter-spacing: 0.2rem;
  background: linear-gradient(#ff003f, #201037);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
}
.nav-link
{
	margin-left:20px;
	font-size:120%;
	color:white;
}
.navbar-brand
{
	margin-left:40px;
}
/* button */
.dashboard {
  justify-content: center;
  margin-top: 3.6rem;
  font-size: 1.2rem;
}
#dashboard-button {
  background: linear-gradient(90deg, #6f0f87, #c71642);
  color: white;
  border: none;
  border-radius: 1.2rem;
  padding: 0.8rem 1.8rem;
  cursor: pointer;
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
}



























/* Media Queries */
/* 
  X-Small devices (portrait phones, less than 576px)
  No media query for `xs` since this is the default in Bootstrap
  
  Small devices (landscape phones, 576px and up) */
/* @media (max-width: 576px) {
    .hero-section {
      background-position: right;
    }
  } */

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}