table .time
	{
		border:none;
		text-align:center;
		border-collapse:separate;
        border-spacing: 20px 0;
		margin-top:2%;
		
	}
	
.time th

{		
		
		background:#fff;
		border:2px #6f0f87 solid;
		border-radius:50%;
		color:#d40000;
		width:45px;
		height:45px;
		padding:4px;
}

.time td
	{
		height:max-height;
		width:max-width;
		font-family: cursive;
		color:#fff;
		text-align:center;
		font-size:75%;
		font-weight:700;
	}

	#myBtn {
		display:none;
		position: fixed;
		bottom: 10px;
		right: 10px;
		z-index: 99;
		font-size: 54px;
		border: none;
		outline: none;
		color: #7a070d;
		cursor: pointer;
		padding: 5px;
		
	  }
	  </style>

