table .time
	{
		border:none;
		text-align:center;
		border-collapse:separate;
        border-spacing: 20px 0;
		margin:20px;
	}
	
.time th

{		
		
		background:#6f0f87 0.5;
		
		border:2px #6f0f87 dashed;
		border-radius:5px;
		color:#d40000;
		width:45px;
		height:45px;
		padding:4px;
}

.time td
	{
		height:max-height;
		width:max-width;
		font-family:Bradley Hand, cursive;
		color:#ffffff;
		text-align:center;
		font-size:75%;
		font-weight:700;
	}
	
